 /* panel background + rounding */
 .category-panel {
     background: #f4f5f8;
     border-radius: .5rem;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding: 1.5rem;
     gap: 1rem;
 }

 /* underlined “Shop Now” link */
 .shop-link {
     text-decoration: none;
     border-bottom: 1px solid currentColor;
     padding-bottom: 2px;
     font-weight: 500;
 }

 /* constrain images */
 .panel-img {
     max-height: 500px;
     max-width: 100%;
     align-self: center !important;
     margin: 0 auto;

 }

 .sm-img {
     max-height: 250px;
     max-width: 100%;
 }