/* body {
    background-color: #f8f9fa;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .table {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
   */
  
   body {
    background-color: #f8f9fa;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
  }
  .sidebar {
    width: 250px;
    background-color: #f0f0f0;
    height: 100%;
    position: fixed;
    padding-top: 20px;
    border-right: 1px solid #dee2e6;
  }
  .sidebar a {

    color: #333;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 5px;
  }
  .sidebar a:hover{
    background-color: #e0e4e8;
    border-radius: 10px;
  }

  .sidebar a.active {
    background-color: #2c2f31;
    color: #fff;
    border-radius: 10px;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    width: calc(100% - 250px);
  }
  .card {
    border: 1px solid #dee2e6;
  }
  .card-header {
    background-color: #000000;
    color: #fff;
    border-bottom: none;
  }
  .chart-container {
    max-width: 100%;
    height: 200px;
  }
  .product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
  }

  @media screen and (max-width: 768px) {
    body {
      background-color: #f8f9fa;
      color: #333;
      font-family: Arial, sans-serif;
      margin: 0;
      height: auto;
    }
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 0;
      border-right: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #f0f0f0;
    }
    .sidebar a {
      
      display: block;
      text-align: left;
    }
    .sidebar a.active {
      background-color: #2c2f31;
      color: #fff;
      border-radius: 10px;
    }
    .content {
      padding: 10px;
      width: 100%;
    }
    .card {
      margin: 10px 0;
    }
    .content {
      margin-left: 0;
    }
    
  }
  @media screen and (max-width:500px) {
    .sidebar{
      padding: 10px 0;
      background-color: #f0f0f0;
    }
    .sidebar a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      margin: 2px;
      
    }
    
    
   
    
  }
  @media screen and (max-width:380px) {
    .sidebar{
      padding: 0;
      background-color: #f0f0f0;

    }
    .sidebar a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      margin: 2px;
      
    }
    
    
   
    
  }