/* #Coupon{
        border: none;
        outline: none; 
        background: transparent;
        font-size: 16px;
} */
#cart{
  flex: 1;
}
/* input[name="shipping"]:checked {
    accent-color: black;
  }
.cart-item {
    border-bottom: 1px solid #dee2e6;
    padding: 20px 0;
  }
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  .quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .remove {
    font-size: 14px;
    color: gray;
    cursor: pointer;
    margin-top: 5px;
  } */
  .current{
    border-bottom: 3px solid black;
    padding-bottom: 5px;
  }
  .completed{
    border-bottom: 3px solid #198754;
    padding-bottom: 5px;
  }
