#checkoutStepper .step-number::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-10%);
  width: 150px;
  height: 1px;
  background-color: #000;
}

#checkoutStepper .step-number {
  width: 30px;
  height: 30px;
  background-color: #ccc;
}

#checkoutStepper .step-number.active {
  background-color: #000;
}
/* Custom radio button styling to make it black */
#paymentMethod .form-check-input {
  /* Border color when not checked */
  border-color: #000;
}

#paymentMethod .form-check-input:checked {
  /* Background and border color when checked */
  background-color: #000;
  border-color: #000;
}

#paymentMethod .form-check-input:disabled {
  /* Ensure the disabled state also respects the black color */
  opacity: 0.6;
  background-color: #000;
  border-color: #000;
}

@media (max-width: 576px) {
  #checkoutStepper .step-number {
      width: 25px;
      height: 25px;
      font-size: 14px;
  }

  #checkoutStepper span {
      font-size: 14px;
  }

  #checkoutTitle {
      font-size: 24px;
  }

  #checkoutTitle::after {
      width: 40px;
  }
}