<<<<<<< HEAD
  .carousel-item {
      height: 60vh;
      /* Adjust the height as needed */
      background-size: cover;
      background-position: center;
  }

  .carousel-inner {
      text-align: center;
  }

  .carousel-control-prev-icon {
      background-color: rgb(0, 0, 0, 0.6);
      border-radius: 50%;
      width: 50px;
      /* Increase the circle size */
      height: 50px;
      /* Increase the circle size */
      background-size: 30px;
  }

  .carousel-control-next-icon {
      background-color: rgb(0, 0, 0, 0.6);
      border-radius: 50%;
      width: 50px;
      /* Increase the circle size */
      height: 50px;
      /* Increase the circle size */
      background-size: 30px;
  }

  .carousel-item {
      background-size: cover;
      /* Scale the image without maintaining aspect ratio */
      background-repeat: no-repeat;
      /* Prevent the image from repeating */
      background-position: center;
      /* Center the image within the element */

  }
=======
#section {

}
>>>>>>> parent of 38c904b (and contianer that has the same margin to use it in all project change the footer method name from displayto render and make the method dynamic made the main structre of mvc example in home feature)
