@import url('../components/product_card.css');

.carousel-item {
    height: 60vh;
    /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
}

.carousel-inner {
    text-align: center;
}

.carousel-control-prev-icon {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50px;
    /* Increase the circle size */
    height: 50px;
    /* Increase the circle size */
    background-size: 30px;
}

.carousel-control-next-icon {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50px;
    /* Increase the circle size */
    height: 50px;
    /* Increase the circle size */
    background-size: 30px;
}

.carousel-item {
    background-size: cover;
    /* Scale the image without maintaining aspect ratio */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-position: center;
    /* Center the image within the element */

}

.row flex-nowrap overflow-auto gx-3 {
    padding: 0.25rem 0.5rem !important;
}

.col-6 col-sm-4 col-md-3 {
    height: max-content !important;
}

.container {
    padding-bottom: 1rem !important;
}

.underline-link {
    color: #1a1a1a !important;
    text-decoration: underline !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    text-underline-offset: 0.3rem !important;
}