img{
  width: 80px;
  height: 80px;
}
#stepNumber1OrderComplete, #stepNumber2OrderComplete, #stepNumber3OrderComplete {
  width: 30px;
  height: 30px;
  background-color: #ccc;
}

#stepNumber1OrderComplete.completed, #stepNumber2OrderComplete.completed, #stepNumber3OrderComplete.completed {
  background-color: #28a745;
}

#stepNumber1OrderComplete.active, #stepNumber2OrderComplete.active, #stepNumber3OrderComplete.active {
  background-color: #000;
}

@media (max-width: 576px) {
  #stepNumber1OrderComplete, #stepNumber2OrderComplete, #stepNumber3OrderComplete {
      width: 25px;
      height: 25px;
      font-size: 14px;
  }

  #step1OrderComplete span, #step2OrderComplete span, #step3OrderComplete span {
      font-size: 14px;
  }
}