#checkoutStepper .step-number::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-10%);
  width: 150px;
  height: 1px;
  background-color: #000;
}

#checkoutStepper .step-number {
  width: 30px;
  height: 30px;
  background-color: #ccc;
}

#checkoutStepper .step-number.completed {
  background-color: #28a745; /* Green for completed steps */
}

#checkoutStepper .step-number.active {
  background-color: #000;
}

@media (max-width: 576px) {
  #checkoutStepper .step-number {
      width: 25px;
      height: 25px;
      font-size: 14px;
  }

  #checkoutStepper span {
      font-size: 14px;
  }
}