@import url('components/footer.css');
@import url('components/outline_buttons.css');
@import url('components/primary_button.css');
@import url('components/typography.css');
@import url('components//nav_bar.css');
@import url('components/popup.css');

:root {
    --background-color: #ffffff;
    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --button-border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.details_button:disabled {
    background-color: #ccc;
    /* Greyed out */
    color: #666;
    /* Dimmed text */
    cursor: not-allowed;
    /* Not-allowed cursor */
    opacity: 0.6;
    /* Slightly transparent */
    pointer-events: none;
    /* Prevent clicks */
}