@import url('components/footer.css');
@import url('components/outline_buttons.css');
@import url('components/primary_button.css');
@import url('components/typography.css');
@import url('components//nav_bar.css');

:root {
    --background-color: #ffffff;
    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --button-border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
<<<<<<< HEAD
    padding-top: 1rem;
}

@media (max-width: 576px) {}
=======
    padding-top: 4rem;
}
>>>>>>> parent of 38c904b (and contianer that has the same margin to use it in all project change the footer method name from displayto render and make the method dynamic made the main structre of mvc example in home feature)
